.container {max-width: 1400px;
width: 100%;
margin: 0 auto;}

#headline {font-size: 2.5em;
  font-family: 'Montserrat', Helvetica, sans-serif;
  text-align: left;
  font-weight: 700;}

.newsfeed {font-size: 1em;
  font-family: 'Montserrat', Helvetica, sans-serif;
  text-align: left;
  font-weight: 400;
  width: 100%;
  margin: 0 auto;}

@media only screen and (max-width: 600px) {
    #headline, #container {font-size: 20px; margin: 0 auto; width: 100%;}
    .navbar-brand {max-width: 100%; font-size: 20px;}}

@media only screen and (max-width: 600px) {
  .navbar, .navbar navbar-expand-lg navbar-dark bg-dark, .row, .nav {font-size: 12px; margin: 0 auto; width: 100%;}}

@media only screen and (max-width: 600px) {.nav-item, .nav-item-active, .nav-link, .navbar, ul.navbar-nav, .navbar-toggler, .navbar-toggler-icon {margin: 0 auto; width: 100%;}}

a:link {color: #e0162b;}
a:hover {color: #0052a5;}
a:visited {#999;}

ul.navbar-nav {margin-left: 20%; display: inline; color: black;}
.nav-item, .nav-item-active, .nav-link {display: inline; font-size: 1em; color: black;}
.navbar {font-family: 'Montserrat', sans-serif;}

.icon {width: 40px; display: inline;}
#banner-icon {margin-right: 5px;}

.intro {max-width: 1200px; margin: 0 auto;}
.content {max-width: 1200px; margin: 0 auto;}

#footer {width: 100%;
margin: 0 auto;
background-color: black;
height: 75px;
font-size: 12px;
color: white;
font-family: 'Montserrat', arial, sans-serif;
display: block;
margin-top: 30px;
margin-bottom: 5px;
text-align: center;}
